.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	padding: 0 15px;
	font-size: 12px;
	color: $main;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	cursor: pointer;
	background-color: $white;
	border: none;
	border-radius: 50%;
	outline: none;
	transition: all .25s ease;

	&:hover {
		color: $white;
		background-color: transparent;
		border: 1px solid $white;
	}

	&_color-dark {
		color: $white;
		background-color: $main;

		&:hover {
			color: $main;
			background-color: $white;
			border: 1px solid $main;
		}
	}
}
