.header {
	height: 90px;
	background-color: $main;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}

	&__logo-icon {
		max-width: 202px;
		max-height: 38px;
	}
}
