.item-terms {
	flex-basis: 100%;
	color: $main;

	&__icon {
		max-width: 70px;
		max-height: 70px;
		margin-bottom: 25px;
	}

	&__title {
		margin-bottom: 25px;
		font-size: 24px;
		font-weight: 500;
		color: #1f1a3d;
		text-transform: uppercase;
	}

	&__item {
		padding-right: 25px;
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
