.marketing {
	padding: 100px 0 0 0;

	&__content {
		display: flex;
		border-top: 1px solid $white;
	}

	&__left {
		flex-basis: 75%;
		padding-top: 50px;
	}

	&__right {
		display: flex;
		flex-basis: 25%;
		align-items: flex-end;
	}

	&__pic {
		display: flex;
		justify-content: flex-end;
	}

	&__img {
		max-width: 600px;
	}

	&__btn {
		margin: 50px auto 0 auto;
	}
}
