.months {
	&__list {
		display: flex;
	}

	&__item {
		margin-right: 25px;
		font-size: 24px;
		line-height: 31px;
		text-transform: uppercase;

		&:last-child {
			margin-right: 0;
		}

		span {
			color: #8f8c9e;
		}
	}
}
