.partners {
	padding: 100px 0;

	&__content {
		padding: 50px 0 0 0;
		border-top: 1px solid $white;
	}

	&__grid {
		position: relative;
		display: grid;
		grid-template-areas:
			". . . ."
			". . . .";
		gap: 15px 15px;
		margin-top: 75px;
	}

	&__grid-link {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 99;
		padding: 0;
		color: $main;
		background-color: $white;
		border: 1px solid $white;
		transform: translate(-50%, -50%);

		&:hover {
			color: $white;
			background-color: $main;
			border: 1px solid $white;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 308px;
		background-color: transparent;
		border: 1px solid #504c67;
	}

	&__logo {
		width: 180px;
	}

	&__logo--size-140 {
		max-width: 135px;
	}
}
