.partners {
	padding: 100px 0;

	&__content {
		padding: 50px 0;
		border-top: 1px solid $white;
	}

	&__grid {
		position: relative;
		margin-top: 75px;
	}

	&__grid-link {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 99;
		padding: 0;
		color: $white;
		background-color: $main;
		border: 1px solid $white;
		transform: translate(-50%, -50%);

		&:hover {
			color: $main;
			background-color: $white;
			border: 1px solid $main;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 320px;
		height: 320px;
		background-color: $white;
		border-radius: 50%;
		transform: scale(1.09);
	}

	&__item--color-grey {
		background-color: #e9e8ec;
	}

	&__item--position-above {
		z-index: 9;
	}

	&__logo {
		width: 180px;
	}

	&__logo--size-140 {
		max-width: 135px;
	}
}
