.partners {
	padding: 150px 0;

	&__content {
		padding: 50px 0;
		border-top: 1px solid $white;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 50px;
	}

	&__item {
		display: flex;
		flex: 1 0 auto;
		flex-basis: 25%;
		align-items: center;
		justify-content: center;
		width: 338px;
		height: 338px;
		background-color: $white;
		border-radius: 50%;
		transform: scale(1.05);
	}

	&__item--color-grey {
		background-color: #e9e8ec;
	}

	&__item--position-above {
		z-index: 9;
	}

	&__logo {
		width: 200px;
	}

	&__logo--size-140 {
		max-width: 140px;
	}
}
