footer.footer.footer_color-dark
	.container.footer__container
		.footer__row
			.footer__column
				.footer__logo
					a.footer__logo-link(href="/"): +icon('logo-footer-white', 'footer__logo-icon')
				.footer__text
					p Лидеры мирового рынка косметики
					p Эксклюзивные корейские бренды
			.footer__column
				h3.footer__column-title Меню
				ul.footer__column-list
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Бренды
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Каталог
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Партнерство
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") О компании
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Пресса
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Контакты
			.footer__column
				h3.footer__column-title Бренды
				ul.footer__column-list
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Wella
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Londa
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") OPI
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Swarovski
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Nioxin
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Seb Man
			.footer__column
				h3.footer__column-title Партнеры
				ul.footer__column-list
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Wildberries
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Ozon
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Lamoda
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Kupivip
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Беру!
					li.footer__column-item: a.footer__column-link.footer__column-link_color-white(href="#") Асна
		.footer__line
			span.footer__copy © BeautyForce. 2020. All rights reserved
			.socials.footer__socials
				ul.socials__list
					li.socials__item: a.socials__link(href="#"): +icon('instagram', 'socials__icon')
					li.socials__item: a.socials__link(href="#"): +icon('vk', 'socials__icon')
					li.socials__item: a.socials__link(href="#"): +icon('fb', 'socials__icon')
					li.socials__item: a.socials__link(href="#"): +icon('ok', 'socials__icon')
					li.socials__item: a.socials__link(href="#"): +icon('youtube', 'socials__icon')
					li.socials__item: a.socials__link(href="#"): +icon('telegram', 'socials__icon')
					li.socials__item: a.socials__link(href="#"): +icon('tiktok', 'socials__icon')
					li.socials__item: a.socials__link(href="#"): +icon('zen', 'socials__icon')
			a.footer__copy(href="#") Политика конфиденциальности