extends layout/main

block variables
	-var title = 'О компании |'

block content
	.page-about
		section.page-about__section
			.container
				.page-about__desc
					h1.page-about__title Beauty Force
					.page-about__desc-text
						p #[span.page-about__desc-text_accent Официальный] дистрибьютор #[br]и импортер #[span.page-about__desc-text_accent концептуальных] #[br]beauty-брендов из Южной Кореи #[br]#[span.page-about__desc-text_accent в России.] #[span.page-about__desc-text_accent Мы] не просто привозим #[br]#[span.page-about__desc-text_accent косметические марки], мы выбираем #[br]их сердцем и проверяем #[br]#[span.page-about__desc-text_accent на экологичность, безопасность #[br]составов и уникальность]
		section.page-about__picture
			img.page-about__img(src="images/team.jpg", alt="Beauty Force team")
		section.page-about__brands
			.container
				.page-about__brands-container
					h2.page-about__brands-title Бренды
					.page-about__brands-content
						h3.page-about__brands-subtitle В нашем портфолио более 10 эксклюзивных корейских брендов
						.page-about__brands-desc
							p Это марки, которые выпускают продукцию по уходу за кожей лица, декоративную косметику, средства для женской гигиены. Мы постарались охватить все сегменты: от массмаркет до премиального, чтобы каждый человек смог найти для себя бренд, отвечающий его запросу.
		section.page-about__features
			.container
				.page-about__features-content
					h2.page-about__features-title Все бренды объединяют 5 основных принципов
					ul.page-about__features-list
						li.page-about__features-item Инновационные технологии
						li.page-about__features-item Клиническая эффективность
						li.page-about__features-item Баланс цены и качества
						li.page-about__features-item Экологичное производство
						li.page-about__features-item Запатентованные ингредиенты
		section.page-about__history
			.container
				.page-about__history-container
					h2.page-about__history-title История компании
					ul.page-about__history-list
						li.page-about__history-item
							.page-about__history-content
								h2.page-about__history-subtitle 20#[span 10]—20#[span 13]
								.page-about__history-text
									p 2010 – #[span начало работы]
									p 2011 – к нам присоединились бренды #[span Organic Ocean], #[span Magic Henna]
									p 2012 – к нам присоединились бренды #[span OPI], #[span CND]
									p 2013 – к нам присоединились бренды #[span The Saem], #[span Zinger]
						li.page-about__history-item
							.page-about__history-content
								h2.page-about__history-subtitle 20#[span 14]—20#[span 15]
								.page-about__history-text.page-about__history-text_right
									p 2014 – к нам присоединились бренды #[span Tony Moly], #[span Elizavecca], #[span Mizon], #[span Petitfee], #[span Koelf]
									p 2015 – к нам присоединились бренды #[span Emansi], #[span Real Techniques], #[span Catrice], #[span Essence], #[span Ecotools], #[span Revolution Make up], #[span Sleek make up], #[span Vival], #[span MAM], #[span Локсы]
						li.page-about__history-item
							.page-about__history-content
								h2.page-about__history-subtitle 20#[span 16]—20#[span 18]
								.page-about__history-text
									p 2016 – к нам присоединились бренды #[span Esthetic House], #[span J:on]
									p 2017 – мы стали эксклюзивным дистрибьютером брендов #[span Dr.Gloderm] и #[span 3W Clinic].
									p 2018 – мы стали официальным дилером кристаллов и бижутерии #[span Swarovski], и эксклюзивным дистрибьютором бренда #[span Cellmiin].
						li.page-about__history-item
							.page-about__history-content
								h2.page-about__history-subtitle 20#[span 19]—20#[span 20]
								.page-about__history-text.page-about__history-text_right
									p 2019 – к нам присоединились бренды группы Coty (#[span Wella], #[span Londa], #[span Nioxin], #[span SebMan], #[span SP], #[span Sebastian]) и натуральная российская косметика #[span Flovera].
									p 2020 – стали эксклюзивными представителями корейской косметики #[span Foreverskin], #[span Oattbe], #[span Dearboo] и натуральных средств женской гигиены #[span Yejimiin] и уникальной тональной основы #[span 1Foundation].


