extends layout/main

block variables
	-var title = 'О компании |'

block content
	.page-about
		section.page-about__section
			.container
				.page-about__desc
					h1.page-about__title Beauty Force
					.page-about__desc-text
						p #[span.page-about__desc-text_accent Официальный] дистрибьютор #[br]и импортер #[span.page-about__desc-text_accent концептуальных] #[br]beauty-брендов из Южной Кореи #[br]#[span.page-about__desc-text_accent в России.] #[span.page-about__desc-text_accent Мы] не просто привозим #[br]#[span.page-about__desc-text_accent косметические марки], мы выбираем #[br]их сердцем и проверяем #[br]#[span.page-about__desc-text_accent на экологичность, безопасность #[br]составов и] уникальность
		section.page-about__picture
			img.page-about__img(src="images/team.jpg", alt="Beauty Force team")
		section.page-about__show
			.container
				.page-about__show-content
					h2.page-about__show-title Конференции
					h2.page-about__show-subtitle Участвуем в международных #[br]выставках
					ul.page-about__show-list
						li.page-about__show-item.page-about__show-item_dark
							.icon-cosmoprof
						li.page-about__show-item
							.icon-k-beauty
						li.page-about__show-item.page-about__show-item_dark
							.icon-cosmoprof-asia
						li.page-about__show-item
							.icon-intercharm
						li.page-about__show-item
							.icon-inbeauty
						li.page-about__show-item.page-about__show-item_dark
							.icon-cosmoprof-usa
						li.page-about__show-item
							.icon-inner-beauty
						li.page-about__show-item.page-about__show-item_dark
							.icon-cosmoprof-india

		section.page-about__brands
			.container
				.page-about__brands-container
					h2.page-about__brands-title Бренды
					.page-about__brands-content
						h3.page-about__brands-subtitle В нашем портфолио более 10 эксклюзивных корейских брендов
						.page-about__brands-desc
							p Это марки, которые выпускают продукцию по уходу за кожей лица, декоративную косметику, средства для женской гигиены. Мы постарались охватить все сегменты: от массмаркет до премиального, чтобы каждый человек смог найти для себя бренд, отвечающий его запросу.
		section.page-about__features
			.container
				.page-about__features-content
					h2.page-about__features-title Все бренды объединяет 6 #[br]основных принципов
					ul.page-about__features-list
						li.page-about__features-item Экологичные ингредиенты
						li.page-about__features-item Инновационные технологии
						li.page-about__features-item Запатентованные формулы
						li.page-about__features-item Клиническая эффективность
						li.page-about__features-item Этичное производство
						li.page-about__features-item Баланс цены и качества
		section.page-about__history
			.container
				.page-about__history-container
					h2.page-about__history-title История компании
					ul.page-about__history-list
						li.page-about__history-item
							.page-about__history-content
								span.page-about__history-years 20#[span 10]—20#[span 13]
								.page-about__history-text
									h4.page-about__history-text-title Присоединились бренды:
									h5.page-about__history-text-subtitle OPI, CND, The Saem и Zinger
						li.page-about__history-item.page-about__history-item_right
							.page-about__history-content
								span.page-about__history-years 20#[span 14]—20#[span 15]
								.page-about__history-text
									h4.page-about__history-text-title Присоединились бренды:
									h5.page-about__history-text-subtitle Tony Moly, Elizavecca, Mizon, Petitfee, Koelf, Emansi, Real Techniques, Catrice, Essence, Ecotools, Revolution Make Up, Sleep make up и MAM
						li.page-about__history-item
							.page-about__history-content
								span.page-about__history-years 20#[span 16]—20#[span 18]
								.page-about__history-text
									h4.page-about__history-text-title Присоединились бренды:
									h5.page-about__history-text-subtitle Esthetic House, 3W Clinic, Dr.Gloderm, Swarovski и Cellmiin
						li.page-about__history-item.page-about__history-item_right
							.page-about__history-content
								span.page-about__history-years 20#[span 19]—20#[span 20]
								.page-about__history-text
									h4.page-about__history-text-title Присоединились бренды:
									h5.page-about__history-text-subtitle Wella, Londa, Nioxin, SebMan, SP, Sebastian, Foreverskin, Oattbe, Dearboo, Haruharu WONDER, CURE, Yejimiin и 1Foundation
		section.page-about__philosophy
			.container
				h3.page-about__philosophy-title Наша философия — осознанный подход к потреблению косметики
				.page-about__philosophy-content
					.page-about__philosophy-pics
						.page-about__philosophy-pic
							img.page-about__philosophy-img(src="images/philosophy-01.jpg", alt="")
						.page-about__philosophy-pic
							img.page-about__philosophy-img(src="images/philosophy-02.jpg", alt="")
						.page-about__philosophy-pic
							img.page-about__philosophy-img(src="images/philosophy-03.jpg", alt="")
						.page-about__philosophy-pic
							img.page-about__philosophy-img(src="images/philosophy-04.jpg", alt="")
					.page-about__philosophy-desc
						h4.page-about__philosophy-desc-title Поэтому средства наших эксклюзивных брендов обладают высококонцентрированными составами, которые действуют быстро и эффективно.
						.page-about__philosophy-desc-text
							p Мы хотим, чтобы бьюти-рутина для каждой женщины была исключительным удовольствием и приносила максимальную пользу.
							p Уверены, что будущее за диджитализацией во всех сферах жизни и активно развиваем новые направления бизнеса с использованием исключительно инновационных технологий.





