extends layout/page

block variables
	-var title = 'Бренды'

block content
	.page-brands
		.page-brands__hero
			.container.page-brands__container
				h1.page-brands__title Бренды
				ul.page-brands__menu-list
					li.page-brands__menu-item: a.page-brands__menu-link(href="#decorations") Украшения
					li.page-brands__menu-item: a.page-brands__menu-link(href="#haircare") Уход за волосами
					li.page-brands__menu-item: a.page-brands__menu-link(href="#skincare") Уход за кожей
					li.page-brands__menu-item: a.page-brands__menu-link(href="#hygiene") Гигиена
					li.page-brands__menu-item: a.page-brands__menu-link(href="#decorative") Декоративная косметика
					li.page-brands__menu-item: a.page-brands__menu-link(href="#household") Бытовая химия
					li.page-brands__menu-item: a.page-brands__menu-link(href="#food") Продукты питания
		.page-brands__content
			.container
				ul.page-brands__list
					li.page-brands__category#decorations
						h2.page-brands__category-title Украшения
						.brand-category
							ul.brand-category__list
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-swarovski
					li.page-brands__category#haircare
						h2.page-brands__category-title Уход за волосами
						.brand-category
							ul.brand-category__list
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-londa
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-wella
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-nioxin
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-sebastian
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-sebman
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-ghd
					li.page-brands__category#skincare
						h2.page-brands__category-title Уход за кожей
						.brand-category
							ul.brand-category__list
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-dr-gloderm
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-cellmiin
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-haruharu
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-foreverskin
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-koelf
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-skin-house
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-l-sanic
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-petitfee
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-dearboo
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-oattbe
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-cure
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-xilix
					li.page-brands__category#hygiene
						h2.page-brands__category-title Гигиена
						.brand-category
							ul.brand-category__list
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-yejimiin
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-elis
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-alsoft
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-shavo-green
					li.page-brands__category#decorative
						h2.page-brands__category-title Декоративная косметика
						.brand-category
							ul.brand-category__list
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-1-foundation
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-opi
					li.page-brands__category#household
						h2.page-brands__category-title Бытовая химия
						.brand-category
							ul.brand-category__list
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-saraya
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-arau
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-happy-elephant
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-yashinomi
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-smile-helper
					li.page-brands__category#food
						h2.page-brands__category-title Продукты питания
						.brand-category
							ul.brand-category__list
								li.brand-category__item
									a(href="#").brand-category__link
										.brand-category__icon
											.icon-lakanto
				.page-brands__more
					h3.page-brands__more-title Смотрите все товары в каталоге
					a.btn.page-brands__more-link(href="#") Открыть каталог