extends layout/main

block variables
	-var title = 'Главная страница'

block content
	section.hero
		.container.hero__container
			.hero__text
				.hero__subtitle
					span Официальный дистрибьютор и импортер
					span концептуальных косметических брендов
				h1.hero__title Beauty
					span Force
				a.btn(href="#") Перейти в интернет-магазин
			.hero__pic
				img(src="images/hero.jpg", alt="")
	section.about
		.container
			.about__content
				h2.section__title О нас
				.about__wrapper
					.about__left
						h3.section__subtitle Надежный #[br]бизнес-партнер
						a.btn.about__btn(href="#") Подробнее
					.about__right
						.about__right-desc
							p Компания Beauty Force представляет косметические бренды из разных сегментов: масс-маркет, миддл, премиум и фармацевтический. Мы следим за трендами индустрии и выбираем только исключительные марки с безопасными составами, инновационными разработками и уникальной концепцией. Представительства компании Beauty Force открыты в Корее и Италии, а наши партнеры находятся по всей России.
						.about__features
							.features
								ul.features__list
									li.features__item
										.features__item-title 10
										.features__item-subtitle лет опыта
									li.features__item
										.features__item-title 30+
										.features__item-subtitle популярных брендов
									li.features__item
										.features__item-title 25+
										.features__item-subtitle интернет-магазинов
									li.features__item
										.features__item-title 50 000 000
										.features__item-subtitle покупателей
	section.excellence
		.container
			.slider-excellence
				h2.section__title.section__title_excellence Преимущества
				ul.slider-excellence__list
					li.slider-excellence__item
						img(src="images/slide-01.jpg", alt="").slider-excellence__img
						.slider-excellence__text
							h3.slider-excellence__title Эксклюзивные бренды из Кореи
							.slider-excellence__desc
								p Мы ценим качество и инновационные технологии в производстве, именно поэтому выбираем лучшие косметические бренды из Южной Кореи. Их эффективность доказана многочисленным клиническими исследованиями.
							span.slider-excellence__number 01 — 03
				.slider-excellence__btns
					button.slider-excellence__btn.slider-excellence__btn_prev
					button.slider-excellence__btn.slider-excellence__btn_next
	section.section_color-white.brands
		.container
			.brands__content
				h2.section__title.section__title_color-dark Бренды
				.section__subtitle.section__subtitle_color-dark сотрудничаем #[br]c мировыми брендами
		.brands-grid
			.brands-grid__row
				ul.brands-grid__list
					li.brands-grid__item
						.icon-cellmiin
					li.brands-grid__item
						.icon-cellmiin
					li.brands-grid__item
						.icon-opi
					li.brands-grid__item
						.icon-oattbe
					li.brands-grid__item
						.icon-cellmiin
					li.brands-grid__item
						.icon-foreverskin
					li.brands-grid__item
						.icon-sp
					li.brands-grid__item
						.icon-ghd
			.brands-grid__row
				ul.brands-grid__list
					li.brands-grid__item
						.icon-koelf
					li.brands-grid__item
						.icon-nioxin
					li.brands-grid__item
						.icon-opi
					li.brands-grid__item
						.icon-koelf
					li.brands-grid__item
						.icon-cellmiin
					li.brands-grid__item
						.icon-foreverskin
					li.brands-grid__item
						.icon-sp
					li.brands-grid__item
						.icon-ghd
			a(href="#").btn.btn_color-dark.brands-grid__btn Подробнее
	section.partners
		.container
			.partners__content
				h2.section__title Партнеры
				h3.section__subtitle продвигаем бренды #[br]с надежными партнерами
				.partners__grid
					ul.partners__list
						li.partners__item
							+icon('ozon', 'partners__logo partners__logo--size-140')
						li.partners__item.partners__item--color-grey.partners__item--position-above
							+icon('asna', 'partners__logo partners__logo--size-140')
						li.partners__item
							+icon('beru', 'partners__logo partners__logo--size-140')
						li.partners__item.partners__item--color-grey
							+icon('kupivip', 'partners__logo')
					ul.partners__list
						li.partners__item.partners__item--color-grey.partners__item--position-above
							+icon('wildberries', 'partners__logo')
						li.partners__item
							+icon('lamoda', 'partners__logo')
						li.partners__item.partners__item--color-grey
							+icon('auchan', 'partners__logo partners__logo--size-140')
						li.partners__item.partners__item--position-above
							+icon('aizel', 'partners__logo')
					a.btn.partners__grid-link(href="#") Смотреть всех партнеров
	section.marketing
		.container
			.marketing__content
				.marketing__left
					h2.section__title Маркетинг
					h3.section__subtitle Digital-маркетинг
					.marketing-features
						ul.marketing-features__list
							li.marketing-features__item SMM
							li.marketing-features__item Контент-маркетинг
							li.marketing-features__item Крауд-маркетинг
							li.marketing-features__item Промо-маркетинг
							li.marketing-features__item PR
					a.btn.marketing__btn(href="#") Подробнее

				.marketing__right
					.marketing__pic
						img.marketing__img(src="images/marketing.jpg", alt="marketing")
	section.video
		.container
			.video__content
				h2.section__title Видео
				h3.section__subtitle Смотрите наши обзоры
				.video__slider.slider-video
					ul.slider-video__list
						li.slider-video__item
							a.slider-video__slide(href="#")
								img.slider-video__img(src="images/video-01.jpg", alt="")
								h3.slider-video__title Бьюти бокс "Максимальное увлажнение" уже в продаже на Wildberries.ru
								.btn.slider-video__btn Смотреть #[br]на Youtube
						li.slider-video__item
							a.slider-video__slide(href="#")
								img.slider-video__img(src="images/video-02.jpg", alt="")
								h3.slider-video__title Обзор на Гиалуроновый крем для лица HaruHaru Hyaluronic Cream
								.btn.slider-video__btn Смотреть #[br]на Youtube
					.slider-video__arrows
						button.slider-video__arrow.slider-video__arrow_prev
						button.slider-video__arrow.slider-video__arrow_next
	section.instagram
		.container
			.instagram__content
				.instagram__left
					h2.section__title Instagram
					h3.section__subtitle Больше полезного #[br]контента в instagram
					a.btn.instagram__btn(href="#") Перейти в #[br]instagram
				.instagram__right
					img.instagram__img(src="images/insta.png", alt="")
	section.section-form
		.container
			.section-form__content
				.section-form__left
					h2.section__title Контакты
					h3.section__subtitle Сделаем первый шаг #[br]к сотрудничеству
					form.mainform#mainform
						.mainform__row
							input(class="mainform__input" type="tel" id="phone" placeholder="Телефон" name="phone" required)
							label(class="mainform__label" for="phone") Телефон
						.mainform__row
							input(class="mainform__input" type="text" id="contface" placeholder="Контактное лицо" name="contface" required)
							label(class="mainform__label" for="contface") Контактное лицо
						.mainform__row
							input(class="mainform__input" type="text" id="email" placeholder="Электронная почта" name="email" required)
							label(class="mainform__label" for="email") Электронная почта
						.mainform__row
							input(class="mainform__input" type="text" id="company" placeholder="Компания" name="company" required)
							label(class="mainform__label" for="company") Компания
						.mainform__row.mainform__row_flex
							button.btn.mainform__btn(class="mainform__button" type="submit") Отправить
							span.mainform__disclaimer Нажимая кнопку, вы соглашаетесь #[br]с политикой конфиденциальности
				.section-form__right
					.section-form__contacts
						.section-form__row
							a(href="#").section-form__title.section-form__title_size-xl +7 (499) 409-21-80
							a(href="#").section-form__subtitle info@beforce.ru
						.section-form__row
							span.section-form__subtitle Москва, ул. Павловская, д. 27, стр. 4
						.section-form__row
							span.section-form__title Офис
							span.section-form__subtitle Пн - Пт 10:00 - 18:00
						.section-form__row
							span.section-form__title Склад
							span.section-form__subtitle Пн - Пт 10:00 - 20:00



