// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-1-foundation-name: 'icon-1-foundation';
$icon-1-foundation-x: 0px;
$icon-1-foundation-y: 0px;
$icon-1-foundation-offset-x: 0px;
$icon-1-foundation-offset-y: 0px;
$icon-1-foundation-width: 200px;
$icon-1-foundation-height: 100px;
$icon-1-foundation-total-width: 1020px;
$icon-1-foundation-total-height: 760px;
$icon-1-foundation-image: '../images/sprite/sprite.png';
$icon-1-foundation: (0px, 0px, 0px, 0px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-1-foundation', );
$icon-7days-name: 'icon-7days';
$icon-7days-x: 925px;
$icon-7days-y: 165px;
$icon-7days-offset-x: -925px;
$icon-7days-offset-y: -165px;
$icon-7days-width: 80px;
$icon-7days-height: 25px;
$icon-7days-total-width: 1020px;
$icon-7days-total-height: 760px;
$icon-7days-image: '../images/sprite/sprite.png';
$icon-7days: (925px, 165px, -925px, -165px, 80px, 25px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-7days', );
$icon-afisha-name: 'icon-afisha';
$icon-afisha-x: 820px;
$icon-afisha-y: 480px;
$icon-afisha-offset-x: -820px;
$icon-afisha-offset-y: -480px;
$icon-afisha-width: 117px;
$icon-afisha-height: 25px;
$icon-afisha-total-width: 1020px;
$icon-afisha-total-height: 760px;
$icon-afisha-image: '../images/sprite/sprite.png';
$icon-afisha: (820px, 480px, -820px, -480px, 117px, 25px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-afisha', );
$icon-alsoft-name: 'icon-alsoft';
$icon-alsoft-x: 205px;
$icon-alsoft-y: 0px;
$icon-alsoft-offset-x: -205px;
$icon-alsoft-offset-y: 0px;
$icon-alsoft-width: 200px;
$icon-alsoft-height: 100px;
$icon-alsoft-total-width: 1020px;
$icon-alsoft-total-height: 760px;
$icon-alsoft-image: '../images/sprite/sprite.png';
$icon-alsoft: (205px, 0px, -205px, 0px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-alsoft', );
$icon-arau-name: 'icon-arau';
$icon-arau-x: 0px;
$icon-arau-y: 105px;
$icon-arau-offset-x: 0px;
$icon-arau-offset-y: -105px;
$icon-arau-width: 200px;
$icon-arau-height: 100px;
$icon-arau-total-width: 1020px;
$icon-arau-total-height: 760px;
$icon-arau-image: '../images/sprite/sprite.png';
$icon-arau: (0px, 105px, 0px, -105px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-arau', );
$icon-beauty-insider-name: 'icon-beauty-insider';
$icon-beauty-insider-x: 0px;
$icon-beauty-insider-y: 735px;
$icon-beauty-insider-offset-x: 0px;
$icon-beauty-insider-offset-y: -735px;
$icon-beauty-insider-width: 245px;
$icon-beauty-insider-height: 25px;
$icon-beauty-insider-total-width: 1020px;
$icon-beauty-insider-total-height: 760px;
$icon-beauty-insider-image: '../images/sprite/sprite.png';
$icon-beauty-insider: (0px, 735px, 0px, -735px, 245px, 25px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-beauty-insider', );
$icon-buro-name: 'icon-buro';
$icon-buro-x: 820px;
$icon-buro-y: 510px;
$icon-buro-offset-x: -820px;
$icon-buro-offset-y: -510px;
$icon-buro-width: 106px;
$icon-buro-height: 25px;
$icon-buro-total-width: 1020px;
$icon-buro-total-height: 760px;
$icon-buro-image: '../images/sprite/sprite.png';
$icon-buro: (820px, 510px, -820px, -510px, 106px, 25px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-buro', );
$icon-cellmiin-name: 'icon-cellmiin';
$icon-cellmiin-x: 205px;
$icon-cellmiin-y: 105px;
$icon-cellmiin-offset-x: -205px;
$icon-cellmiin-offset-y: -105px;
$icon-cellmiin-width: 200px;
$icon-cellmiin-height: 100px;
$icon-cellmiin-total-width: 1020px;
$icon-cellmiin-total-height: 760px;
$icon-cellmiin-image: '../images/sprite/sprite.png';
$icon-cellmiin: (205px, 105px, -205px, -105px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-cellmiin', );
$icon-cosmo-name: 'icon-cosmo';
$icon-cosmo-x: 820px;
$icon-cosmo-y: 420px;
$icon-cosmo-offset-x: -820px;
$icon-cosmo-offset-y: -420px;
$icon-cosmo-width: 138px;
$icon-cosmo-height: 25px;
$icon-cosmo-total-width: 1020px;
$icon-cosmo-total-height: 760px;
$icon-cosmo-image: '../images/sprite/sprite.png';
$icon-cosmo: (820px, 420px, -820px, -420px, 138px, 25px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-cosmo', );
$icon-cure-name: 'icon-cure';
$icon-cure-x: 0px;
$icon-cure-y: 210px;
$icon-cure-offset-x: 0px;
$icon-cure-offset-y: -210px;
$icon-cure-width: 200px;
$icon-cure-height: 100px;
$icon-cure-total-width: 1020px;
$icon-cure-total-height: 760px;
$icon-cure-image: '../images/sprite/sprite.png';
$icon-cure: (0px, 210px, 0px, -210px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-cure', );
$icon-dearboo-name: 'icon-dearboo';
$icon-dearboo-x: 205px;
$icon-dearboo-y: 210px;
$icon-dearboo-offset-x: -205px;
$icon-dearboo-offset-y: -210px;
$icon-dearboo-width: 200px;
$icon-dearboo-height: 100px;
$icon-dearboo-total-width: 1020px;
$icon-dearboo-total-height: 760px;
$icon-dearboo-image: '../images/sprite/sprite.png';
$icon-dearboo: (205px, 210px, -205px, -210px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-dearboo', );
$icon-dochki-materi-name: 'icon-dochki-materi';
$icon-dochki-materi-x: 925px;
$icon-dochki-materi-y: 240px;
$icon-dochki-materi-offset-x: -925px;
$icon-dochki-materi-offset-y: -240px;
$icon-dochki-materi-width: 55px;
$icon-dochki-materi-height: 25px;
$icon-dochki-materi-total-width: 1020px;
$icon-dochki-materi-total-height: 760px;
$icon-dochki-materi-image: '../images/sprite/sprite.png';
$icon-dochki-materi: (925px, 240px, -925px, -240px, 55px, 25px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-dochki-materi', );
$icon-dr-gloderm-name: 'icon-dr-gloderm';
$icon-dr-gloderm-x: 410px;
$icon-dr-gloderm-y: 0px;
$icon-dr-gloderm-offset-x: -410px;
$icon-dr-gloderm-offset-y: 0px;
$icon-dr-gloderm-width: 200px;
$icon-dr-gloderm-height: 100px;
$icon-dr-gloderm-total-width: 1020px;
$icon-dr-gloderm-total-height: 760px;
$icon-dr-gloderm-image: '../images/sprite/sprite.png';
$icon-dr-gloderm: (410px, 0px, -410px, 0px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-dr-gloderm', );
$icon-elis-name: 'icon-elis';
$icon-elis-x: 410px;
$icon-elis-y: 105px;
$icon-elis-offset-x: -410px;
$icon-elis-offset-y: -105px;
$icon-elis-width: 200px;
$icon-elis-height: 100px;
$icon-elis-total-width: 1020px;
$icon-elis-total-height: 760px;
$icon-elis-image: '../images/sprite/sprite.png';
$icon-elis: (410px, 105px, -410px, -105px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-elis', );
$icon-elle-name: 'icon-elle';
$icon-elle-x: 925px;
$icon-elle-y: 210px;
$icon-elle-offset-x: -925px;
$icon-elle-offset-y: -210px;
$icon-elle-width: 58px;
$icon-elle-height: 25px;
$icon-elle-total-width: 1020px;
$icon-elle-total-height: 760px;
$icon-elle-image: '../images/sprite/sprite.png';
$icon-elle: (925px, 210px, -925px, -210px, 58px, 25px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-elle', );
$icon-flacon-name: 'icon-flacon';
$icon-flacon-x: 820px;
$icon-flacon-y: 450px;
$icon-flacon-offset-x: -820px;
$icon-flacon-offset-y: -450px;
$icon-flacon-width: 126px;
$icon-flacon-height: 25px;
$icon-flacon-total-width: 1020px;
$icon-flacon-total-height: 760px;
$icon-flacon-image: '../images/sprite/sprite.png';
$icon-flacon: (820px, 450px, -820px, -450px, 126px, 25px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-flacon', );
$icon-foreverskin-name: 'icon-foreverskin';
$icon-foreverskin-x: 410px;
$icon-foreverskin-y: 210px;
$icon-foreverskin-offset-x: -410px;
$icon-foreverskin-offset-y: -210px;
$icon-foreverskin-width: 200px;
$icon-foreverskin-height: 100px;
$icon-foreverskin-total-width: 1020px;
$icon-foreverskin-total-height: 760px;
$icon-foreverskin-image: '../images/sprite/sprite.png';
$icon-foreverskin: (410px, 210px, -410px, -210px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-foreverskin', );
$icon-ghd-name: 'icon-ghd';
$icon-ghd-x: 0px;
$icon-ghd-y: 315px;
$icon-ghd-offset-x: 0px;
$icon-ghd-offset-y: -315px;
$icon-ghd-width: 200px;
$icon-ghd-height: 100px;
$icon-ghd-total-width: 1020px;
$icon-ghd-total-height: 760px;
$icon-ghd-image: '../images/sprite/sprite.png';
$icon-ghd: (0px, 315px, 0px, -315px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-ghd', );
$icon-happy-elephant-name: 'icon-happy-elephant';
$icon-happy-elephant-x: 820px;
$icon-happy-elephant-y: 105px;
$icon-happy-elephant-offset-x: -820px;
$icon-happy-elephant-offset-y: -105px;
$icon-happy-elephant-width: 100px;
$icon-happy-elephant-height: 100px;
$icon-happy-elephant-total-width: 1020px;
$icon-happy-elephant-total-height: 760px;
$icon-happy-elephant-image: '../images/sprite/sprite.png';
$icon-happy-elephant: (820px, 105px, -820px, -105px, 100px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-happy-elephant', );
$icon-haruharu-name: 'icon-haruharu';
$icon-haruharu-x: 205px;
$icon-haruharu-y: 315px;
$icon-haruharu-offset-x: -205px;
$icon-haruharu-offset-y: -315px;
$icon-haruharu-width: 200px;
$icon-haruharu-height: 100px;
$icon-haruharu-total-width: 1020px;
$icon-haruharu-total-height: 760px;
$icon-haruharu-image: '../images/sprite/sprite.png';
$icon-haruharu: (205px, 315px, -205px, -315px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-haruharu', );
$icon-koelf-name: 'icon-koelf';
$icon-koelf-x: 410px;
$icon-koelf-y: 315px;
$icon-koelf-offset-x: -410px;
$icon-koelf-offset-y: -315px;
$icon-koelf-width: 200px;
$icon-koelf-height: 100px;
$icon-koelf-total-width: 1020px;
$icon-koelf-total-height: 760px;
$icon-koelf-image: '../images/sprite/sprite.png';
$icon-koelf: (410px, 315px, -410px, -315px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-koelf', );
$icon-l-sanic-name: 'icon-l-sanic';
$icon-l-sanic-x: 0px;
$icon-l-sanic-y: 420px;
$icon-l-sanic-offset-x: 0px;
$icon-l-sanic-offset-y: -420px;
$icon-l-sanic-width: 200px;
$icon-l-sanic-height: 100px;
$icon-l-sanic-total-width: 1020px;
$icon-l-sanic-total-height: 760px;
$icon-l-sanic-image: '../images/sprite/sprite.png';
$icon-l-sanic: (0px, 420px, 0px, -420px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-l-sanic', );
$icon-lakanto-name: 'icon-lakanto';
$icon-lakanto-x: 205px;
$icon-lakanto-y: 420px;
$icon-lakanto-offset-x: -205px;
$icon-lakanto-offset-y: -420px;
$icon-lakanto-width: 200px;
$icon-lakanto-height: 100px;
$icon-lakanto-total-width: 1020px;
$icon-lakanto-total-height: 760px;
$icon-lakanto-image: '../images/sprite/sprite.png';
$icon-lakanto: (205px, 420px, -205px, -420px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-lakanto', );
$icon-londa-name: 'icon-londa';
$icon-londa-x: 410px;
$icon-londa-y: 420px;
$icon-londa-offset-x: -410px;
$icon-londa-offset-y: -420px;
$icon-londa-width: 200px;
$icon-londa-height: 100px;
$icon-londa-total-width: 1020px;
$icon-londa-total-height: 760px;
$icon-londa-image: '../images/sprite/sprite.png';
$icon-londa: (410px, 420px, -410px, -420px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-londa', );
$icon-nioxin-name: 'icon-nioxin';
$icon-nioxin-x: 615px;
$icon-nioxin-y: 0px;
$icon-nioxin-offset-x: -615px;
$icon-nioxin-offset-y: 0px;
$icon-nioxin-width: 200px;
$icon-nioxin-height: 100px;
$icon-nioxin-total-width: 1020px;
$icon-nioxin-total-height: 760px;
$icon-nioxin-image: '../images/sprite/sprite.png';
$icon-nioxin: (615px, 0px, -615px, 0px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-nioxin', );
$icon-oattbe-name: 'icon-oattbe';
$icon-oattbe-x: 615px;
$icon-oattbe-y: 105px;
$icon-oattbe-offset-x: -615px;
$icon-oattbe-offset-y: -105px;
$icon-oattbe-width: 200px;
$icon-oattbe-height: 100px;
$icon-oattbe-total-width: 1020px;
$icon-oattbe-total-height: 760px;
$icon-oattbe-image: '../images/sprite/sprite.png';
$icon-oattbe: (615px, 105px, -615px, -105px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-oattbe', );
$icon-opi-name: 'icon-opi';
$icon-opi-x: 615px;
$icon-opi-y: 210px;
$icon-opi-offset-x: -615px;
$icon-opi-offset-y: -210px;
$icon-opi-width: 200px;
$icon-opi-height: 100px;
$icon-opi-total-width: 1020px;
$icon-opi-total-height: 760px;
$icon-opi-image: '../images/sprite/sprite.png';
$icon-opi: (615px, 210px, -615px, -210px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-opi', );
$icon-petitfee-name: 'icon-petitfee';
$icon-petitfee-x: 615px;
$icon-petitfee-y: 315px;
$icon-petitfee-offset-x: -615px;
$icon-petitfee-offset-y: -315px;
$icon-petitfee-width: 200px;
$icon-petitfee-height: 100px;
$icon-petitfee-total-width: 1020px;
$icon-petitfee-total-height: 760px;
$icon-petitfee-image: '../images/sprite/sprite.png';
$icon-petitfee: (615px, 315px, -615px, -315px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-petitfee', );
$icon-saraya-name: 'icon-saraya';
$icon-saraya-x: 615px;
$icon-saraya-y: 420px;
$icon-saraya-offset-x: -615px;
$icon-saraya-offset-y: -420px;
$icon-saraya-width: 200px;
$icon-saraya-height: 100px;
$icon-saraya-total-width: 1020px;
$icon-saraya-total-height: 760px;
$icon-saraya-image: '../images/sprite/sprite.png';
$icon-saraya: (615px, 420px, -615px, -420px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-saraya', );
$icon-sebastian-name: 'icon-sebastian';
$icon-sebastian-x: 0px;
$icon-sebastian-y: 525px;
$icon-sebastian-offset-x: 0px;
$icon-sebastian-offset-y: -525px;
$icon-sebastian-width: 200px;
$icon-sebastian-height: 100px;
$icon-sebastian-total-width: 1020px;
$icon-sebastian-total-height: 760px;
$icon-sebastian-image: '../images/sprite/sprite.png';
$icon-sebastian: (0px, 525px, 0px, -525px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-sebastian', );
$icon-sebman-name: 'icon-sebman';
$icon-sebman-x: 205px;
$icon-sebman-y: 525px;
$icon-sebman-offset-x: -205px;
$icon-sebman-offset-y: -525px;
$icon-sebman-width: 200px;
$icon-sebman-height: 100px;
$icon-sebman-total-width: 1020px;
$icon-sebman-total-height: 760px;
$icon-sebman-image: '../images/sprite/sprite.png';
$icon-sebman: (205px, 525px, -205px, -525px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-sebman', );
$icon-shavo-green-name: 'icon-shavo-green';
$icon-shavo-green-x: 820px;
$icon-shavo-green-y: 210px;
$icon-shavo-green-offset-x: -820px;
$icon-shavo-green-offset-y: -210px;
$icon-shavo-green-width: 100px;
$icon-shavo-green-height: 100px;
$icon-shavo-green-total-width: 1020px;
$icon-shavo-green-total-height: 760px;
$icon-shavo-green-image: '../images/sprite/sprite.png';
$icon-shavo-green: (820px, 210px, -820px, -210px, 100px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-shavo-green', );
$icon-skin-house-name: 'icon-skin-house';
$icon-skin-house-x: 410px;
$icon-skin-house-y: 525px;
$icon-skin-house-offset-x: -410px;
$icon-skin-house-offset-y: -525px;
$icon-skin-house-width: 200px;
$icon-skin-house-height: 100px;
$icon-skin-house-total-width: 1020px;
$icon-skin-house-total-height: 760px;
$icon-skin-house-image: '../images/sprite/sprite.png';
$icon-skin-house: (410px, 525px, -410px, -525px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-skin-house', );
$icon-smile-helper-name: 'icon-smile-helper';
$icon-smile-helper-x: 615px;
$icon-smile-helper-y: 525px;
$icon-smile-helper-offset-x: -615px;
$icon-smile-helper-offset-y: -525px;
$icon-smile-helper-width: 200px;
$icon-smile-helper-height: 100px;
$icon-smile-helper-total-width: 1020px;
$icon-smile-helper-total-height: 760px;
$icon-smile-helper-image: '../images/sprite/sprite.png';
$icon-smile-helper: (615px, 525px, -615px, -525px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-smile-helper', );
$icon-sp-name: 'icon-sp';
$icon-sp-x: 0px;
$icon-sp-y: 630px;
$icon-sp-offset-x: 0px;
$icon-sp-offset-y: -630px;
$icon-sp-width: 200px;
$icon-sp-height: 100px;
$icon-sp-total-width: 1020px;
$icon-sp-total-height: 760px;
$icon-sp-image: '../images/sprite/sprite.png';
$icon-sp: (0px, 630px, 0px, -630px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-sp', );
$icon-spletnik-name: 'icon-spletnik';
$icon-spletnik-x: 925px;
$icon-spletnik-y: 105px;
$icon-spletnik-offset-x: -925px;
$icon-spletnik-offset-y: -105px;
$icon-spletnik-width: 91px;
$icon-spletnik-height: 25px;
$icon-spletnik-total-width: 1020px;
$icon-spletnik-total-height: 760px;
$icon-spletnik-image: '../images/sprite/sprite.png';
$icon-spletnik: (925px, 105px, -925px, -105px, 91px, 25px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-spletnik', );
$icon-swarovski-name: 'icon-swarovski';
$icon-swarovski-x: 205px;
$icon-swarovski-y: 630px;
$icon-swarovski-offset-x: -205px;
$icon-swarovski-offset-y: -630px;
$icon-swarovski-width: 200px;
$icon-swarovski-height: 100px;
$icon-swarovski-total-width: 1020px;
$icon-swarovski-total-height: 760px;
$icon-swarovski-image: '../images/sprite/sprite.png';
$icon-swarovski: (205px, 630px, -205px, -630px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-swarovski', );
$icon-wday-name: 'icon-wday';
$icon-wday-x: 925px;
$icon-wday-y: 135px;
$icon-wday-offset-x: -925px;
$icon-wday-offset-y: -135px;
$icon-wday-width: 86px;
$icon-wday-height: 25px;
$icon-wday-total-width: 1020px;
$icon-wday-total-height: 760px;
$icon-wday-image: '../images/sprite/sprite.png';
$icon-wday: (925px, 135px, -925px, -135px, 86px, 25px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-wday', );
$icon-wella-name: 'icon-wella';
$icon-wella-x: 410px;
$icon-wella-y: 630px;
$icon-wella-offset-x: -410px;
$icon-wella-offset-y: -630px;
$icon-wella-width: 200px;
$icon-wella-height: 100px;
$icon-wella-total-width: 1020px;
$icon-wella-total-height: 760px;
$icon-wella-image: '../images/sprite/sprite.png';
$icon-wella: (410px, 630px, -410px, -630px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-wella', );
$icon-xilix-name: 'icon-xilix';
$icon-xilix-x: 615px;
$icon-xilix-y: 630px;
$icon-xilix-offset-x: -615px;
$icon-xilix-offset-y: -630px;
$icon-xilix-width: 200px;
$icon-xilix-height: 100px;
$icon-xilix-total-width: 1020px;
$icon-xilix-total-height: 760px;
$icon-xilix-image: '../images/sprite/sprite.png';
$icon-xilix: (615px, 630px, -615px, -630px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-xilix', );
$icon-yashinomi-name: 'icon-yashinomi';
$icon-yashinomi-x: 820px;
$icon-yashinomi-y: 315px;
$icon-yashinomi-offset-x: -820px;
$icon-yashinomi-offset-y: -315px;
$icon-yashinomi-width: 100px;
$icon-yashinomi-height: 100px;
$icon-yashinomi-total-width: 1020px;
$icon-yashinomi-total-height: 760px;
$icon-yashinomi-image: '../images/sprite/sprite.png';
$icon-yashinomi: (820px, 315px, -820px, -315px, 100px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-yashinomi', );
$icon-yejimiin-name: 'icon-yejimiin';
$icon-yejimiin-x: 820px;
$icon-yejimiin-y: 0px;
$icon-yejimiin-offset-x: -820px;
$icon-yejimiin-offset-y: 0px;
$icon-yejimiin-width: 200px;
$icon-yejimiin-height: 100px;
$icon-yejimiin-total-width: 1020px;
$icon-yejimiin-total-height: 760px;
$icon-yejimiin-image: '../images/sprite/sprite.png';
$icon-yejimiin: (820px, 0px, -820px, 0px, 200px, 100px, 1020px, 760px, '../images/sprite/sprite.png', 'icon-yejimiin', );
$spritesheet-width: 1020px;
$spritesheet-height: 760px;
$spritesheet-image: '../images/sprite/sprite.png';
$spritesheet-sprites: ($icon-1-foundation, $icon-7days, $icon-afisha, $icon-alsoft, $icon-arau, $icon-beauty-insider, $icon-buro, $icon-cellmiin, $icon-cosmo, $icon-cure, $icon-dearboo, $icon-dochki-materi, $icon-dr-gloderm, $icon-elis, $icon-elle, $icon-flacon, $icon-foreverskin, $icon-ghd, $icon-happy-elephant, $icon-haruharu, $icon-koelf, $icon-l-sanic, $icon-lakanto, $icon-londa, $icon-nioxin, $icon-oattbe, $icon-opi, $icon-petitfee, $icon-saraya, $icon-sebastian, $icon-sebman, $icon-shavo-green, $icon-skin-house, $icon-smile-helper, $icon-sp, $icon-spletnik, $icon-swarovski, $icon-wday, $icon-wella, $icon-xilix, $icon-yashinomi, $icon-yejimiin, );
$spritesheet: (1020px, 760px, '../images/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
