// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-1-foundation-name: 'icon-1-foundation';
$icon-1-foundation-x: 155px;
$icon-1-foundation-y: 0px;
$icon-1-foundation-offset-x: -155px;
$icon-1-foundation-offset-y: 0px;
$icon-1-foundation-width: 200px;
$icon-1-foundation-height: 100px;
$icon-1-foundation-total-width: 1175px;
$icon-1-foundation-total-height: 1005px;
$icon-1-foundation-image: '../images/sprite/sprite.png';
$icon-1-foundation: (155px, 0px, -155px, 0px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-1-foundation', );
$icon-7days-name: 'icon-7days';
$icon-7days-x: 1071px;
$icon-7days-y: 328px;
$icon-7days-offset-x: -1071px;
$icon-7days-offset-y: -328px;
$icon-7days-width: 80px;
$icon-7days-height: 25px;
$icon-7days-total-width: 1175px;
$icon-7days-total-height: 1005px;
$icon-7days-image: '../images/sprite/sprite.png';
$icon-7days: (1071px, 328px, -1071px, -328px, 80px, 25px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-7days', );
$icon-afisha-name: 'icon-afisha';
$icon-afisha-x: 975px;
$icon-afisha-y: 268px;
$icon-afisha-offset-x: -975px;
$icon-afisha-offset-y: -268px;
$icon-afisha-width: 117px;
$icon-afisha-height: 25px;
$icon-afisha-total-width: 1175px;
$icon-afisha-total-height: 1005px;
$icon-afisha-image: '../images/sprite/sprite.png';
$icon-afisha: (975px, 268px, -975px, -268px, 117px, 25px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-afisha', );
$icon-alsoft-name: 'icon-alsoft';
$icon-alsoft-x: 0px;
$icon-alsoft-y: 155px;
$icon-alsoft-offset-x: 0px;
$icon-alsoft-offset-y: -155px;
$icon-alsoft-width: 200px;
$icon-alsoft-height: 100px;
$icon-alsoft-total-width: 1175px;
$icon-alsoft-total-height: 1005px;
$icon-alsoft-image: '../images/sprite/sprite.png';
$icon-alsoft: (0px, 155px, 0px, -155px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-alsoft', );
$icon-arau-name: 'icon-arau';
$icon-arau-x: 360px;
$icon-arau-y: 0px;
$icon-arau-offset-x: -360px;
$icon-arau-offset-y: 0px;
$icon-arau-width: 200px;
$icon-arau-height: 100px;
$icon-arau-total-width: 1175px;
$icon-arau-total-height: 1005px;
$icon-arau-image: '../images/sprite/sprite.png';
$icon-arau: (360px, 0px, -360px, 0px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-arau', );
$icon-beauty-insider-name: 'icon-beauty-insider';
$icon-beauty-insider-x: 0px;
$icon-beauty-insider-y: 948px;
$icon-beauty-insider-offset-x: 0px;
$icon-beauty-insider-offset-y: -948px;
$icon-beauty-insider-width: 245px;
$icon-beauty-insider-height: 25px;
$icon-beauty-insider-total-width: 1175px;
$icon-beauty-insider-total-height: 1005px;
$icon-beauty-insider-image: '../images/sprite/sprite.png';
$icon-beauty-insider: (0px, 948px, 0px, -948px, 245px, 25px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-beauty-insider', );
$icon-buro-name: 'icon-buro';
$icon-buro-x: 975px;
$icon-buro-y: 298px;
$icon-buro-offset-x: -975px;
$icon-buro-offset-y: -298px;
$icon-buro-width: 106px;
$icon-buro-height: 25px;
$icon-buro-total-width: 1175px;
$icon-buro-total-height: 1005px;
$icon-buro-image: '../images/sprite/sprite.png';
$icon-buro: (975px, 298px, -975px, -298px, 106px, 25px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-buro', );
$icon-cellmiin-name: 'icon-cellmiin';
$icon-cellmiin-x: 360px;
$icon-cellmiin-y: 105px;
$icon-cellmiin-offset-x: -360px;
$icon-cellmiin-offset-y: -105px;
$icon-cellmiin-width: 200px;
$icon-cellmiin-height: 100px;
$icon-cellmiin-total-width: 1175px;
$icon-cellmiin-total-height: 1005px;
$icon-cellmiin-image: '../images/sprite/sprite.png';
$icon-cellmiin: (360px, 105px, -360px, -105px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-cellmiin', );
$icon-cosmo-name: 'icon-cosmo';
$icon-cosmo-x: 975px;
$icon-cosmo-y: 208px;
$icon-cosmo-offset-x: -975px;
$icon-cosmo-offset-y: -208px;
$icon-cosmo-width: 138px;
$icon-cosmo-height: 25px;
$icon-cosmo-total-width: 1175px;
$icon-cosmo-total-height: 1005px;
$icon-cosmo-image: '../images/sprite/sprite.png';
$icon-cosmo: (975px, 208px, -975px, -208px, 138px, 25px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-cosmo', );
$icon-cosmoprof-asia-name: 'icon-cosmoprof-asia';
$icon-cosmoprof-asia-x: 615px;
$icon-cosmoprof-asia-y: 785px;
$icon-cosmoprof-asia-offset-x: -615px;
$icon-cosmoprof-asia-offset-y: -785px;
$icon-cosmoprof-asia-width: 200px;
$icon-cosmoprof-asia-height: 73px;
$icon-cosmoprof-asia-total-width: 1175px;
$icon-cosmoprof-asia-total-height: 1005px;
$icon-cosmoprof-asia-image: '../images/sprite/sprite.png';
$icon-cosmoprof-asia: (615px, 785px, -615px, -785px, 200px, 73px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-cosmoprof-asia', );
$icon-cosmoprof-india-name: 'icon-cosmoprof-india';
$icon-cosmoprof-india-x: 615px;
$icon-cosmoprof-india-y: 890px;
$icon-cosmoprof-india-offset-x: -615px;
$icon-cosmoprof-india-offset-y: -890px;
$icon-cosmoprof-india-width: 200px;
$icon-cosmoprof-india-height: 48px;
$icon-cosmoprof-india-total-width: 1175px;
$icon-cosmoprof-india-total-height: 1005px;
$icon-cosmoprof-india-image: '../images/sprite/sprite.png';
$icon-cosmoprof-india: (615px, 890px, -615px, -890px, 200px, 48px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-cosmoprof-india', );
$icon-cosmoprof-usa-name: 'icon-cosmoprof-usa';
$icon-cosmoprof-usa-x: 410px;
$icon-cosmoprof-usa-y: 890px;
$icon-cosmoprof-usa-offset-x: -410px;
$icon-cosmoprof-usa-offset-y: -890px;
$icon-cosmoprof-usa-width: 200px;
$icon-cosmoprof-usa-height: 50px;
$icon-cosmoprof-usa-total-width: 1175px;
$icon-cosmoprof-usa-total-height: 1005px;
$icon-cosmoprof-usa-image: '../images/sprite/sprite.png';
$icon-cosmoprof-usa: (410px, 890px, -410px, -890px, 200px, 50px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-cosmoprof-usa', );
$icon-cosmoprof-name: 'icon-cosmoprof';
$icon-cosmoprof-x: 975px;
$icon-cosmoprof-y: 0px;
$icon-cosmoprof-offset-x: -975px;
$icon-cosmoprof-offset-y: 0px;
$icon-cosmoprof-width: 200px;
$icon-cosmoprof-height: 47px;
$icon-cosmoprof-total-width: 1175px;
$icon-cosmoprof-total-height: 1005px;
$icon-cosmoprof-image: '../images/sprite/sprite.png';
$icon-cosmoprof: (975px, 0px, -975px, 0px, 200px, 47px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-cosmoprof', );
$icon-coty-name: 'icon-coty';
$icon-coty-x: 410px;
$icon-coty-y: 785px;
$icon-coty-offset-x: -410px;
$icon-coty-offset-y: -785px;
$icon-coty-width: 200px;
$icon-coty-height: 74px;
$icon-coty-total-width: 1175px;
$icon-coty-total-height: 1005px;
$icon-coty-image: '../images/sprite/sprite.png';
$icon-coty: (410px, 785px, -410px, -785px, 200px, 74px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-coty', );
$icon-cure-name: 'icon-cure';
$icon-cure-x: 0px;
$icon-cure-y: 260px;
$icon-cure-offset-x: 0px;
$icon-cure-offset-y: -260px;
$icon-cure-width: 200px;
$icon-cure-height: 100px;
$icon-cure-total-width: 1175px;
$icon-cure-total-height: 1005px;
$icon-cure-image: '../images/sprite/sprite.png';
$icon-cure: (0px, 260px, 0px, -260px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-cure', );
$icon-dearboo-name: 'icon-dearboo';
$icon-dearboo-x: 205px;
$icon-dearboo-y: 260px;
$icon-dearboo-offset-x: -205px;
$icon-dearboo-offset-y: -260px;
$icon-dearboo-width: 200px;
$icon-dearboo-height: 100px;
$icon-dearboo-total-width: 1175px;
$icon-dearboo-total-height: 1005px;
$icon-dearboo-image: '../images/sprite/sprite.png';
$icon-dearboo: (205px, 260px, -205px, -260px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-dearboo', );
$icon-dhl-name: 'icon-dhl';
$icon-dhl-x: 975px;
$icon-dhl-y: 143px;
$icon-dhl-offset-x: -975px;
$icon-dhl-offset-y: -143px;
$icon-dhl-width: 200px;
$icon-dhl-height: 28px;
$icon-dhl-total-width: 1175px;
$icon-dhl-total-height: 1005px;
$icon-dhl-image: '../images/sprite/sprite.png';
$icon-dhl: (975px, 143px, -975px, -143px, 200px, 28px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-dhl', );
$icon-dochki-materi-name: 'icon-dochki-materi';
$icon-dochki-materi-x: 1118px;
$icon-dochki-materi-y: 208px;
$icon-dochki-materi-offset-x: -1118px;
$icon-dochki-materi-offset-y: -208px;
$icon-dochki-materi-width: 55px;
$icon-dochki-materi-height: 25px;
$icon-dochki-materi-total-width: 1175px;
$icon-dochki-materi-total-height: 1005px;
$icon-dochki-materi-image: '../images/sprite/sprite.png';
$icon-dochki-materi: (1118px, 208px, -1118px, -208px, 55px, 25px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-dochki-materi', );
$icon-dr-gloderm-name: 'icon-dr-gloderm';
$icon-dr-gloderm-x: 0px;
$icon-dr-gloderm-y: 365px;
$icon-dr-gloderm-offset-x: 0px;
$icon-dr-gloderm-offset-y: -365px;
$icon-dr-gloderm-width: 200px;
$icon-dr-gloderm-height: 100px;
$icon-dr-gloderm-total-width: 1175px;
$icon-dr-gloderm-total-height: 1005px;
$icon-dr-gloderm-image: '../images/sprite/sprite.png';
$icon-dr-gloderm: (0px, 365px, 0px, -365px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-dr-gloderm', );
$icon-elis-name: 'icon-elis';
$icon-elis-x: 205px;
$icon-elis-y: 365px;
$icon-elis-offset-x: -205px;
$icon-elis-offset-y: -365px;
$icon-elis-width: 200px;
$icon-elis-height: 100px;
$icon-elis-total-width: 1175px;
$icon-elis-total-height: 1005px;
$icon-elis-image: '../images/sprite/sprite.png';
$icon-elis: (205px, 365px, -205px, -365px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-elis', );
$icon-elle-name: 'icon-elle';
$icon-elle-x: 1106px;
$icon-elle-y: 238px;
$icon-elle-offset-x: -1106px;
$icon-elle-offset-y: -238px;
$icon-elle-width: 58px;
$icon-elle-height: 25px;
$icon-elle-total-width: 1175px;
$icon-elle-total-height: 1005px;
$icon-elle-image: '../images/sprite/sprite.png';
$icon-elle: (1106px, 238px, -1106px, -238px, 58px, 25px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-elle', );
$icon-flacon-name: 'icon-flacon';
$icon-flacon-x: 975px;
$icon-flacon-y: 238px;
$icon-flacon-offset-x: -975px;
$icon-flacon-offset-y: -238px;
$icon-flacon-width: 126px;
$icon-flacon-height: 25px;
$icon-flacon-total-width: 1175px;
$icon-flacon-total-height: 1005px;
$icon-flacon-image: '../images/sprite/sprite.png';
$icon-flacon: (975px, 238px, -975px, -238px, 126px, 25px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-flacon', );
$icon-foreverskin-name: 'icon-foreverskin';
$icon-foreverskin-x: 565px;
$icon-foreverskin-y: 0px;
$icon-foreverskin-offset-x: -565px;
$icon-foreverskin-offset-y: 0px;
$icon-foreverskin-width: 200px;
$icon-foreverskin-height: 100px;
$icon-foreverskin-total-width: 1175px;
$icon-foreverskin-total-height: 1005px;
$icon-foreverskin-image: '../images/sprite/sprite.png';
$icon-foreverskin: (565px, 0px, -565px, 0px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-foreverskin', );
$icon-ghd-name: 'icon-ghd';
$icon-ghd-x: 565px;
$icon-ghd-y: 105px;
$icon-ghd-offset-x: -565px;
$icon-ghd-offset-y: -105px;
$icon-ghd-width: 200px;
$icon-ghd-height: 100px;
$icon-ghd-total-width: 1175px;
$icon-ghd-total-height: 1005px;
$icon-ghd-image: '../images/sprite/sprite.png';
$icon-ghd: (565px, 105px, -565px, -105px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-ghd', );
$icon-gobiz-name: 'icon-gobiz';
$icon-gobiz-x: 975px;
$icon-gobiz-y: 52px;
$icon-gobiz-offset-x: -975px;
$icon-gobiz-offset-y: -52px;
$icon-gobiz-width: 200px;
$icon-gobiz-height: 41px;
$icon-gobiz-total-width: 1175px;
$icon-gobiz-total-height: 1005px;
$icon-gobiz-image: '../images/sprite/sprite.png';
$icon-gobiz: (975px, 52px, -975px, -52px, 200px, 41px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-gobiz', );
$icon-happy-elephant-name: 'icon-happy-elephant';
$icon-happy-elephant-x: 410px;
$icon-happy-elephant-y: 260px;
$icon-happy-elephant-offset-x: -410px;
$icon-happy-elephant-offset-y: -260px;
$icon-happy-elephant-width: 100px;
$icon-happy-elephant-height: 100px;
$icon-happy-elephant-total-width: 1175px;
$icon-happy-elephant-total-height: 1005px;
$icon-happy-elephant-image: '../images/sprite/sprite.png';
$icon-happy-elephant: (410px, 260px, -410px, -260px, 100px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-happy-elephant', );
$icon-haruharu-name: 'icon-haruharu';
$icon-haruharu-x: 565px;
$icon-haruharu-y: 210px;
$icon-haruharu-offset-x: -565px;
$icon-haruharu-offset-y: -210px;
$icon-haruharu-width: 200px;
$icon-haruharu-height: 100px;
$icon-haruharu-total-width: 1175px;
$icon-haruharu-total-height: 1005px;
$icon-haruharu-image: '../images/sprite/sprite.png';
$icon-haruharu: (565px, 210px, -565px, -210px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-haruharu', );
$icon-inbeauty-name: 'icon-inbeauty';
$icon-inbeauty-x: 975px;
$icon-inbeauty-y: 176px;
$icon-inbeauty-offset-x: -975px;
$icon-inbeauty-offset-y: -176px;
$icon-inbeauty-width: 147px;
$icon-inbeauty-height: 27px;
$icon-inbeauty-total-width: 1175px;
$icon-inbeauty-total-height: 1005px;
$icon-inbeauty-image: '../images/sprite/sprite.png';
$icon-inbeauty: (975px, 176px, -975px, -176px, 147px, 27px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-inbeauty', );
$icon-inner-beauty-name: 'icon-inner-beauty';
$icon-inner-beauty-x: 0px;
$icon-inner-beauty-y: 978px;
$icon-inner-beauty-offset-x: 0px;
$icon-inner-beauty-offset-y: -978px;
$icon-inner-beauty-width: 216px;
$icon-inner-beauty-height: 27px;
$icon-inner-beauty-total-width: 1175px;
$icon-inner-beauty-total-height: 1005px;
$icon-inner-beauty-image: '../images/sprite/sprite.png';
$icon-inner-beauty: (0px, 978px, 0px, -978px, 216px, 27px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-inner-beauty', );
$icon-intercharm-name: 'icon-intercharm';
$icon-intercharm-x: 205px;
$icon-intercharm-y: 785px;
$icon-intercharm-offset-x: -205px;
$icon-intercharm-offset-y: -785px;
$icon-intercharm-width: 200px;
$icon-intercharm-height: 79px;
$icon-intercharm-total-width: 1175px;
$icon-intercharm-total-height: 1005px;
$icon-intercharm-image: '../images/sprite/sprite.png';
$icon-intercharm: (205px, 785px, -205px, -785px, 200px, 79px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-intercharm', );
$icon-k-beauty-name: 'icon-k-beauty';
$icon-k-beauty-x: 0px;
$icon-k-beauty-y: 890px;
$icon-k-beauty-offset-x: 0px;
$icon-k-beauty-offset-y: -890px;
$icon-k-beauty-width: 200px;
$icon-k-beauty-height: 53px;
$icon-k-beauty-total-width: 1175px;
$icon-k-beauty-total-height: 1005px;
$icon-k-beauty-image: '../images/sprite/sprite.png';
$icon-k-beauty: (0px, 890px, 0px, -890px, 200px, 53px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-k-beauty', );
$icon-kita-name: 'icon-kita';
$icon-kita-x: 205px;
$icon-kita-y: 890px;
$icon-kita-offset-x: -205px;
$icon-kita-offset-y: -890px;
$icon-kita-width: 200px;
$icon-kita-height: 52px;
$icon-kita-total-width: 1175px;
$icon-kita-total-height: 1005px;
$icon-kita-image: '../images/sprite/sprite.png';
$icon-kita: (205px, 890px, -205px, -890px, 200px, 52px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-kita', );
$icon-koelf-name: 'icon-koelf';
$icon-koelf-x: 565px;
$icon-koelf-y: 315px;
$icon-koelf-offset-x: -565px;
$icon-koelf-offset-y: -315px;
$icon-koelf-width: 200px;
$icon-koelf-height: 100px;
$icon-koelf-total-width: 1175px;
$icon-koelf-total-height: 1005px;
$icon-koelf-image: '../images/sprite/sprite.png';
$icon-koelf: (565px, 315px, -565px, -315px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-koelf', );
$icon-kotra-name: 'icon-kotra';
$icon-kotra-x: 975px;
$icon-kotra-y: 98px;
$icon-kotra-offset-x: -975px;
$icon-kotra-offset-y: -98px;
$icon-kotra-width: 150px;
$icon-kotra-height: 40px;
$icon-kotra-total-width: 1175px;
$icon-kotra-total-height: 1005px;
$icon-kotra-image: '../images/sprite/sprite.png';
$icon-kotra: (975px, 98px, -975px, -98px, 150px, 40px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-kotra', );
$icon-l-sanic-name: 'icon-l-sanic';
$icon-l-sanic-x: 0px;
$icon-l-sanic-y: 470px;
$icon-l-sanic-offset-x: 0px;
$icon-l-sanic-offset-y: -470px;
$icon-l-sanic-width: 200px;
$icon-l-sanic-height: 100px;
$icon-l-sanic-total-width: 1175px;
$icon-l-sanic-total-height: 1005px;
$icon-l-sanic-image: '../images/sprite/sprite.png';
$icon-l-sanic: (0px, 470px, 0px, -470px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-l-sanic', );
$icon-lakanto-name: 'icon-lakanto';
$icon-lakanto-x: 205px;
$icon-lakanto-y: 470px;
$icon-lakanto-offset-x: -205px;
$icon-lakanto-offset-y: -470px;
$icon-lakanto-width: 200px;
$icon-lakanto-height: 100px;
$icon-lakanto-total-width: 1175px;
$icon-lakanto-total-height: 1005px;
$icon-lakanto-image: '../images/sprite/sprite.png';
$icon-lakanto: (205px, 470px, -205px, -470px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-lakanto', );
$icon-londa-name: 'icon-londa';
$icon-londa-x: 410px;
$icon-londa-y: 470px;
$icon-londa-offset-x: -410px;
$icon-londa-offset-y: -470px;
$icon-londa-width: 200px;
$icon-londa-height: 100px;
$icon-londa-total-width: 1175px;
$icon-londa-total-height: 1005px;
$icon-londa-image: '../images/sprite/sprite.png';
$icon-londa: (410px, 470px, -410px, -470px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-londa', );
$icon-major-name: 'icon-major';
$icon-major-x: 205px;
$icon-major-y: 155px;
$icon-major-offset-x: -205px;
$icon-major-offset-y: -155px;
$icon-major-width: 150px;
$icon-major-height: 89px;
$icon-major-total-width: 1175px;
$icon-major-total-height: 1005px;
$icon-major-image: '../images/sprite/sprite.png';
$icon-major: (205px, 155px, -205px, -155px, 150px, 89px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-major', );
$icon-nioxin-name: 'icon-nioxin';
$icon-nioxin-x: 0px;
$icon-nioxin-y: 575px;
$icon-nioxin-offset-x: 0px;
$icon-nioxin-offset-y: -575px;
$icon-nioxin-width: 200px;
$icon-nioxin-height: 100px;
$icon-nioxin-total-width: 1175px;
$icon-nioxin-total-height: 1005px;
$icon-nioxin-image: '../images/sprite/sprite.png';
$icon-nioxin: (0px, 575px, 0px, -575px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-nioxin', );
$icon-oattbe-name: 'icon-oattbe';
$icon-oattbe-x: 205px;
$icon-oattbe-y: 575px;
$icon-oattbe-offset-x: -205px;
$icon-oattbe-offset-y: -575px;
$icon-oattbe-width: 200px;
$icon-oattbe-height: 100px;
$icon-oattbe-total-width: 1175px;
$icon-oattbe-total-height: 1005px;
$icon-oattbe-image: '../images/sprite/sprite.png';
$icon-oattbe: (205px, 575px, -205px, -575px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-oattbe', );
$icon-opi-name: 'icon-opi';
$icon-opi-x: 410px;
$icon-opi-y: 575px;
$icon-opi-offset-x: -410px;
$icon-opi-offset-y: -575px;
$icon-opi-width: 200px;
$icon-opi-height: 100px;
$icon-opi-total-width: 1175px;
$icon-opi-total-height: 1005px;
$icon-opi-image: '../images/sprite/sprite.png';
$icon-opi: (410px, 575px, -410px, -575px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-opi', );
$icon-petitfee-name: 'icon-petitfee';
$icon-petitfee-x: 770px;
$icon-petitfee-y: 0px;
$icon-petitfee-offset-x: -770px;
$icon-petitfee-offset-y: 0px;
$icon-petitfee-width: 200px;
$icon-petitfee-height: 100px;
$icon-petitfee-total-width: 1175px;
$icon-petitfee-total-height: 1005px;
$icon-petitfee-image: '../images/sprite/sprite.png';
$icon-petitfee: (770px, 0px, -770px, 0px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-petitfee', );
$icon-saraya-name: 'icon-saraya';
$icon-saraya-x: 770px;
$icon-saraya-y: 105px;
$icon-saraya-offset-x: -770px;
$icon-saraya-offset-y: -105px;
$icon-saraya-width: 200px;
$icon-saraya-height: 100px;
$icon-saraya-total-width: 1175px;
$icon-saraya-total-height: 1005px;
$icon-saraya-image: '../images/sprite/sprite.png';
$icon-saraya: (770px, 105px, -770px, -105px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-saraya', );
$icon-sebastian-name: 'icon-sebastian';
$icon-sebastian-x: 770px;
$icon-sebastian-y: 210px;
$icon-sebastian-offset-x: -770px;
$icon-sebastian-offset-y: -210px;
$icon-sebastian-width: 200px;
$icon-sebastian-height: 100px;
$icon-sebastian-total-width: 1175px;
$icon-sebastian-total-height: 1005px;
$icon-sebastian-image: '../images/sprite/sprite.png';
$icon-sebastian: (770px, 210px, -770px, -210px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-sebastian', );
$icon-sebman-name: 'icon-sebman';
$icon-sebman-x: 770px;
$icon-sebman-y: 315px;
$icon-sebman-offset-x: -770px;
$icon-sebman-offset-y: -315px;
$icon-sebman-width: 200px;
$icon-sebman-height: 100px;
$icon-sebman-total-width: 1175px;
$icon-sebman-total-height: 1005px;
$icon-sebman-image: '../images/sprite/sprite.png';
$icon-sebman: (770px, 315px, -770px, -315px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-sebman', );
$icon-shavo-green-name: 'icon-shavo-green';
$icon-shavo-green-x: 410px;
$icon-shavo-green-y: 365px;
$icon-shavo-green-offset-x: -410px;
$icon-shavo-green-offset-y: -365px;
$icon-shavo-green-width: 100px;
$icon-shavo-green-height: 100px;
$icon-shavo-green-total-width: 1175px;
$icon-shavo-green-total-height: 1005px;
$icon-shavo-green-image: '../images/sprite/sprite.png';
$icon-shavo-green: (410px, 365px, -410px, -365px, 100px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-shavo-green', );
$icon-skin-house-name: 'icon-skin-house';
$icon-skin-house-x: 770px;
$icon-skin-house-y: 420px;
$icon-skin-house-offset-x: -770px;
$icon-skin-house-offset-y: -420px;
$icon-skin-house-width: 200px;
$icon-skin-house-height: 100px;
$icon-skin-house-total-width: 1175px;
$icon-skin-house-total-height: 1005px;
$icon-skin-house-image: '../images/sprite/sprite.png';
$icon-skin-house: (770px, 420px, -770px, -420px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-skin-house', );
$icon-smile-helper-name: 'icon-smile-helper';
$icon-smile-helper-x: 770px;
$icon-smile-helper-y: 525px;
$icon-smile-helper-offset-x: -770px;
$icon-smile-helper-offset-y: -525px;
$icon-smile-helper-width: 200px;
$icon-smile-helper-height: 100px;
$icon-smile-helper-total-width: 1175px;
$icon-smile-helper-total-height: 1005px;
$icon-smile-helper-image: '../images/sprite/sprite.png';
$icon-smile-helper: (770px, 525px, -770px, -525px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-smile-helper', );
$icon-sp-name: 'icon-sp';
$icon-sp-x: 0px;
$icon-sp-y: 680px;
$icon-sp-offset-x: 0px;
$icon-sp-offset-y: -680px;
$icon-sp-width: 200px;
$icon-sp-height: 100px;
$icon-sp-total-width: 1175px;
$icon-sp-total-height: 1005px;
$icon-sp-image: '../images/sprite/sprite.png';
$icon-sp: (0px, 680px, 0px, -680px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-sp', );
$icon-spletnik-name: 'icon-spletnik';
$icon-spletnik-x: 975px;
$icon-spletnik-y: 328px;
$icon-spletnik-offset-x: -975px;
$icon-spletnik-offset-y: -328px;
$icon-spletnik-width: 91px;
$icon-spletnik-height: 25px;
$icon-spletnik-total-width: 1175px;
$icon-spletnik-total-height: 1005px;
$icon-spletnik-image: '../images/sprite/sprite.png';
$icon-spletnik: (975px, 328px, -975px, -328px, 91px, 25px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-spletnik', );
$icon-swarovski-name: 'icon-swarovski';
$icon-swarovski-x: 205px;
$icon-swarovski-y: 680px;
$icon-swarovski-offset-x: -205px;
$icon-swarovski-offset-y: -680px;
$icon-swarovski-width: 200px;
$icon-swarovski-height: 100px;
$icon-swarovski-total-width: 1175px;
$icon-swarovski-total-height: 1005px;
$icon-swarovski-image: '../images/sprite/sprite.png';
$icon-swarovski: (205px, 680px, -205px, -680px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-swarovski', );
$icon-tpprf-name: 'icon-tpprf';
$icon-tpprf-x: 0px;
$icon-tpprf-y: 0px;
$icon-tpprf-offset-x: 0px;
$icon-tpprf-offset-y: 0px;
$icon-tpprf-width: 150px;
$icon-tpprf-height: 150px;
$icon-tpprf-total-width: 1175px;
$icon-tpprf-total-height: 1005px;
$icon-tpprf-image: '../images/sprite/sprite.png';
$icon-tpprf: (0px, 0px, 0px, 0px, 150px, 150px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-tpprf', );
$icon-wday-name: 'icon-wday';
$icon-wday-x: 1086px;
$icon-wday-y: 298px;
$icon-wday-offset-x: -1086px;
$icon-wday-offset-y: -298px;
$icon-wday-width: 86px;
$icon-wday-height: 25px;
$icon-wday-total-width: 1175px;
$icon-wday-total-height: 1005px;
$icon-wday-image: '../images/sprite/sprite.png';
$icon-wday: (1086px, 298px, -1086px, -298px, 86px, 25px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-wday', );
$icon-wella-name: 'icon-wella';
$icon-wella-x: 410px;
$icon-wella-y: 680px;
$icon-wella-offset-x: -410px;
$icon-wella-offset-y: -680px;
$icon-wella-width: 200px;
$icon-wella-height: 100px;
$icon-wella-total-width: 1175px;
$icon-wella-total-height: 1005px;
$icon-wella-image: '../images/sprite/sprite.png';
$icon-wella: (410px, 680px, -410px, -680px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-wella', );
$icon-xilix-name: 'icon-xilix';
$icon-xilix-x: 615px;
$icon-xilix-y: 680px;
$icon-xilix-offset-x: -615px;
$icon-xilix-offset-y: -680px;
$icon-xilix-width: 200px;
$icon-xilix-height: 100px;
$icon-xilix-total-width: 1175px;
$icon-xilix-total-height: 1005px;
$icon-xilix-image: '../images/sprite/sprite.png';
$icon-xilix: (615px, 680px, -615px, -680px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-xilix', );
$icon-yashinomi-name: 'icon-yashinomi';
$icon-yashinomi-x: 615px;
$icon-yashinomi-y: 470px;
$icon-yashinomi-offset-x: -615px;
$icon-yashinomi-offset-y: -470px;
$icon-yashinomi-width: 100px;
$icon-yashinomi-height: 100px;
$icon-yashinomi-total-width: 1175px;
$icon-yashinomi-total-height: 1005px;
$icon-yashinomi-image: '../images/sprite/sprite.png';
$icon-yashinomi: (615px, 470px, -615px, -470px, 100px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-yashinomi', );
$icon-yejimiin-name: 'icon-yejimiin';
$icon-yejimiin-x: 0px;
$icon-yejimiin-y: 785px;
$icon-yejimiin-offset-x: 0px;
$icon-yejimiin-offset-y: -785px;
$icon-yejimiin-width: 200px;
$icon-yejimiin-height: 100px;
$icon-yejimiin-total-width: 1175px;
$icon-yejimiin-total-height: 1005px;
$icon-yejimiin-image: '../images/sprite/sprite.png';
$icon-yejimiin: (0px, 785px, 0px, -785px, 200px, 100px, 1175px, 1005px, '../images/sprite/sprite.png', 'icon-yejimiin', );
$spritesheet-width: 1175px;
$spritesheet-height: 1005px;
$spritesheet-image: '../images/sprite/sprite.png';
$spritesheet-sprites: ($icon-1-foundation, $icon-7days, $icon-afisha, $icon-alsoft, $icon-arau, $icon-beauty-insider, $icon-buro, $icon-cellmiin, $icon-cosmo, $icon-cosmoprof-asia, $icon-cosmoprof-india, $icon-cosmoprof-usa, $icon-cosmoprof, $icon-coty, $icon-cure, $icon-dearboo, $icon-dhl, $icon-dochki-materi, $icon-dr-gloderm, $icon-elis, $icon-elle, $icon-flacon, $icon-foreverskin, $icon-ghd, $icon-gobiz, $icon-happy-elephant, $icon-haruharu, $icon-inbeauty, $icon-inner-beauty, $icon-intercharm, $icon-k-beauty, $icon-kita, $icon-koelf, $icon-kotra, $icon-l-sanic, $icon-lakanto, $icon-londa, $icon-major, $icon-nioxin, $icon-oattbe, $icon-opi, $icon-petitfee, $icon-saraya, $icon-sebastian, $icon-sebman, $icon-shavo-green, $icon-skin-house, $icon-smile-helper, $icon-sp, $icon-spletnik, $icon-swarovski, $icon-tpprf, $icon-wday, $icon-wella, $icon-xilix, $icon-yashinomi, $icon-yejimiin, );
$spritesheet: (1175px, 1005px, '../images/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
