header.header
	.container.header__container
		.header__logo
			a.header__logo-link(href="/"): +icon('logo', 'header__logo-icon')
		nav.nav
			ul.nav__list
				li.nav__item: a.nav__link.nav__link_accent(href="https://beautyforce.store/" target="_blank") Интернет-магазин
				li.nav__item: a.nav__link(href="brands.html") Бренды
				li.nav__item: a.nav__link(href="#") Каталог
				li.nav__item: a.nav__link(href="#") Партнерство
				li.nav__item: a.nav__link(href="#") О компании
				li.nav__item: a.nav__link(href="#") Пресса
				li.nav__item: a.nav__link(href="contacts.html") Контакты
		.header__lang
			.dropdown
				.dropdown__label ru
				ul.dropdown__options
					li.dropdown__option: a.dropdown__link(href="#") en
					li.dropdown__option: a.dropdown__link(href="#") kr
